name: Testing win sh-run

on:
  workflow_dispatch:

jobs:

  tests-windows:
    runs-on:
      group: selfhosted-win

    steps:
      - name: Clean workspace
        run: |
          if (Test-Path "${{ github.workspace }}\*") {
            Remove-Item -Path "${{ github.workspace }}\*" -Recurse -Force
          }
          
      - name: Configure Pagefile
        uses: al-cheb/configure-pagefile-action@v1.5
        with:
          minimum-size: 8GB
          disk-root: "C:"

      - name: "Checkout code with submodules and large files (lfs) on ${{ matrix.os }}"
        uses: actions/checkout@v6
        with:
          repository: 'erigontech/erigon'
          fetch-depth: 1
          submodules: recursive
          lfs: true

      - name: Setup Go environment on ${{ matrix.os }}
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: true

      - name: Install make
        run: choco install make -y

      - name: Run all tests on ${{ matrix.os }}
        shell: bash
        run: make test-all

      - name: This ${{ matrix.os }} check does not make sense for changes within out-of-scope directories
        run: echo "This check does not make sense for changes within out-of-scope directories"
